<div class="encabezado-contact">
  <p>
    Gracias por ponerse en contacto con nosotros. Valoramos la comunicación con nuestros usuarios y estamos emocionados
    de poder ayudarte en lo que necesites. Tu opinión y tus preguntas son importantes para nosotros, y estamos
    comprometidos a brindarte el mejor servicio posible.
    <br>
    <br>
    Por favor, completa el formulario a continuación con tus datos y una breve descripción de cómo podemos asistirte.
    Nuestro equipo de soporte estará encantado de responder a tus preguntas, resolver cualquier inquietud o
    proporcionarte la información que requieres. Nos esforzaremos por responder a tu solicitud a la mayor brevedad.
  </p>
</div>
<div class="form-contact">
  <form class="contacto">
    <div class="fila"><input class="name" [formControl]="nombre" (ngModel)="nombre" type="text" placeholder="Nombre">
    </div>
    <span class="alertVal" [hidden]="nombre.valid || nombre.untouched">Por favor escriba un nombre.</span>
    <div class="fila"><input class="last" (ngModel)="apellido" [formControl]="apellido" type="text"
        placeholder="Apellido"></div>
    <div class="fila"><input class="email" [formControl]="email" (ngModel)="email" type="email"
        placeholder="Correo electrónico"></div>
    <span class="alertVal" [hidden]="email.valid || email.untouched">Por favor escriba un correo valido.</span>
    <div class="fila"><select class="asunto" (ngModel)="asunto" [formControl]="asunto">
        <option value="" disabled selected hidden>Selecciona un asunto</option>
        <option>CURSOS</option>
        <option>Comentario</option>
        <option>Sugerencia</option>
        <option>Otro</option>
      </select></div>
    <div class="fila"><textarea (ngModel)="mensaje" [formControl]="mensaje" rows="6" cols="80"
        placeholder="Escribe aquí tu mensaje"></textarea></div>
    <span class="alertVal" [hidden]="mensaje.valid || mensaje.untouched">Por favor escriba un mensaje.</span>
    <div class="fila">
      <button [disabled]="nombre.invalid || mensaje.invalid || email.invalid || asunto.invalid" type="submit"
        class="btn btn-primary" (click)="contact()">Enviar</button>
    </div>
  </form>
</div>
