<div class="demos">
  <div class="text">
    <h2>Aplicación Web PHP, Angular, MySQL (My Pets)</h2>
    <br>
    <a href="https://pet.natsoft.cloud/" target="_blank">🌎 https://pet.natsoft.cloud</a>
    <br>
    <br>
    <a href="https://www.youtube.com/watch?v=8FptNv2a_sQ&list=PLnfNQrX0jBr0YgKgX2BvXmuc9gwSNC9e0" target="_blank">
      🎞️ Lista de reproducción en Youtube.
    </a>
    <br>
    <br>
    <a href="https://natsoft.cloud/download/pet.zip">💾 Script SQL para construir la base de datos.</a>
    <br>
    <br>
    <a href="https://natsoft.cloud/download/php.zip">💾 Archivos necesarios para el backend PHP.</a>
    <br>
    <br>
    <a href="/code/header.component.html">📜 Codigo Html: header.component.html</a>
    <br>
    <br>
    <a href="/code/styles.scss">🖌️ Codigo Scss: styles.scss</a>
    <br>
    <br>
    <a href="/code/_header.scss">🖌️ Codigo Scss: _header.scss</a>
    <br>
    <br>
    <a href="/code/home.component.html">📜 Codigo Html: home.component.html</a>
    <br>
    <br>
    <a href="/code/_home.scss">🖌️ Codigo Scss: _home.scss</a>
    <br>
    <br>
    <a href="/code/footer.component.html">📜 Codigo Html: footer.component.html</a>
    <br>
    <br>
    <a href="/code/_footer.scss">🖌️ Codigo Scss: _footer.scss</a>
    <br>
    <br>
    <a href="/code/galeria.component.html">📜 Codigo Html: galeria.component.html</a>
    <br>
    <br>
    <a href="/code/_gallery.scss">🖌️ Codigo Scss: _gallery.scss</a>
    <br>
    <br>
    <a href="/code/_lightbox.scss">🖌️ Codigo Scss: _lightbox.scss</a>
    <br>
    <br>
    <a href="/code/spinner.component.html">📜 Codigo Html: spinner.component.html</a>
    <br>
    <br>
    <a href="/code/_spinner.scss">🖌️ Codigo Scss: _spinner.scss</a>
    <br>
    <br>
    <a href="/code/login.component.html">📜 Codigo Html: login.component.html</a>
    <br>
    <br>
    <a href="/code/_login.scss">🖌️ Codigo Scss: _login.scss</a>
    <br>
    <br>

  </div>
  <a href="https://pet.natsoft.cloud/" target="_blank">
    <img class="preview" ngSrc="../../assets/pet.webp" width="1460" height="790" priority="true"
      alt="Cursos de programación y desarrollo de software">
  </a>
</div>
