<footer>

  <div class="social">
    <a href="https://wa.me/573142015171" target="_blank">
      <img ngSrc="whatsapp.svg" width="24" height="24" priority alt="Whatsapp">
    </a>
    <a href="https://www.youtube.com/@natsoftx" target="_blank">
      <img ngSrc="youtube.svg" width="24" height="24" alt="Youtube">
    </a>
    <a href="https://www.facebook.com/natsoftx" target="_blank">
      <img ngSrc="facebook.svg" width="24" height="24" alt="Faceboox">
    </a>
    <a href="https://twitter.com/natsoftx" target="_blank">
      <img ngSrc="x.svg" width="24" height="24" alt="X">
    </a>
    <a href="https://www.instagram.com/natsoft/" target="_blank">
      <img ngSrc="instagram.svg" width="24" height="24" alt="Instagram">
    </a>
    <a href="https://www.threads.net/@natsoft" target="_blank">
      <img ngSrc="threads.svg" width="24" height="24" alt="Threads">
    </a>
  </div>
  <div class="contact" routerLink="contacto">
    Contacta con Nosotros
  </div>
  <div class="logoFooter">
    <img ngSrc="logo_footer.svg" width="120" height="27" alt="Natsoft">
  </div>
  <div class="rights">
    Developed by &copy; Natsoft 2023
  </div>

</footer>
